{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul class="list-articles">
	{% for s in stories %}
        <li><div class="article-panel"><p class="first">
            Категория: {{s.cat.name}} |
            Автор: {{ s.author.username|default:"неизвестен" }}</p>
			<p class="last">
				Дата: {{s.time_update|date:"d-m-Y H:i:s"}}</p>
    		</div>

			{% if s.photo %}
				<p><img class="img-article-left thumb" src="{{s.photo.url}}"></p>
			{% endif %}

			<h2>{{s.title}}</h2>

    		{% autoescape off %}
				{{s.content|linebreaks|truncatewords:40}}
    		{% endautoescape %}

			<div class="clear"></div>

			<p class="link-read-post"><a href="{{ s.get_absolute_url }}">Читать историю</a></p>
		</li>
	{% endfor %}
</ul>
{% endblock %}


{% block navigation %}
	{% if page_obj.has_other_pages %}
		<nav class="list-pages">
    		<ul>
				{% if page_obj.has_previous %}
					<li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
				{% endif %}

        		{% for num in paginator.page_range %}
					{% if page_obj.number == num %}
						<li class="page-num page-num-selected">{{ num }}</li>
					{% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
        				<li class="page-num"><a href="?page={{ num }}">{{ num }}</a></li>
					{% endif %}
        		{% endfor %}

				{% if page_obj.has_next %}
					<li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
				{% endif %}

    		</ul>
		</nav>
	{% endif %}
{% endblock %}

