{% extends 'base.html' %}

{% block breadcrumbs %}
{% if story.author.id == user.id %}
    {% if perms.stories.change_stories %}
        <p><a href="{% url 'edit_story' story.slug %}">Редактировать</a></p>
    {% endif %}
    {% if perms.stories.delete_stories %}
        <p><a href="{% url 'delete_story' story.slug %}">Удалить</a></p>
    {% endif %}
{% endif %}

{% with story.tags.all as T %}
    {% if T %}
        <ul class="tags-list">
            <li>Теги: </li>
            {% for t in T %}
                <li><a href="{{t.get_absolute_url}}">{{t.name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    {% if story.photo %}
        <p><img class="img-article-left" src="{{story.photo.url}}"></p>
    {% endif %}

    {{story.content|linebreaks}}
{% endblock %}

